.navigation {
    padding-left: 0;
    padding-bottom: 15px;
}

.navigation__list {
    list-style: none;
    padding-bottom: 20px;
    border-bottom: 1px solid #2a5537;
    margin: auto;
    padding-left: 0;
}
.navigation__item {
    margin: auto;
}

.navigation__link {
    color: #2a5537;
    text-decoration: none;
}

.navigation__link:hover {
    color: #4c9a63;
}

.navigation__link:active {
    color: #65b37d;
}