.section {
    padding: 10px 0;
}

.section__centered {
    text-align: center;
}

.section__subHeader {
    color: #2a5537;
}

.section__paraghraph {
    line-height: 1.5;
}

.section__button {
    background-color: #2a5537;
    color: #ffffff;
    padding: 20px;
    border: none;
    font-family: 'Montserrat'sans-serif;
    font-size: 16px;
    margin: auto;
}

.section__button:hover {
    background-color: #3b784d;
}

.section__image {
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px #aaaaaa;
    display: block;
    margin: auto;
    padding: 10px
}